@import url('https://fonts.googleapis.com/css?family=Roboto');

a, a:visited {
    color: #1565C0;    
    text-decoration: unset;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0D47A1;
}

.container {
    @include make-boxed-container();
}

.container-boxed {
    @include make-boxed-container();
    @include make-fixed-container();
}

div.inline-block {
    display: inline-block;
}


// Make IE10 support "hidden"
[hidden] {
    display: none !important; 
}

@import "text";

@each $color, $value in $theme-colors {
    .theme-#{$color} {
        a, a:visited {
            color: #{$value};
        }
    
        a:hover {
            color: theme-color-accent($color, -1);
        }

        .checkbox-styled label > span.styled-icon, .radio-styled label > span.styled-icon {
            background: theme-color-accent($color, 1);
        }
    }
}

@import "buttons";
@import "inputs";
@import "code";
@import "table";