@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

a, a:visited {
    color: #1565C0;
    text-decoration: unset;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0D47A1;
}

.container {
    @include make-boxed-container();
}

.container-boxed {
    @include make-boxed-container();
    @include make-fixed-container();
}

@import "text";
@import "navbar";
@import "footer";

@each $color, $value in $theme-colors {
    .theme-#{$color} {
        a, a:visited {
            color: $value;
        }
    
        a:hover {
            color: theme-color-accent($color, -1);
        }

        .checkbox-styled label > span.styled-icon, .radio-styled label > span.styled-icon {
            background: theme-color-accent($color, 1);
        }

        &.styled-scrollbar-colored::-webkit-scrollbar-thumb, .styled-scrollbar-colored::-webkit-scrollbar-thumb {
            background-color: theme-color-accent($color, 4);
        }
        &.styled-scrollbar-colored::-webkit-scrollbar-track, .styled-scrollbar-colored::-webkit-scrollbar-track {
            background-color: theme-color-accent($color, 9);
        }
        .navbar {
            background-color: $value;
        }
    }

    @include bg-color(#{$color}, $value);
}

// Custom scrollbar

.styled-scrollbar-colored::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar, .styled-scrollbar-colored::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.styled-scrollbar::-webkit-scrollbar-track {
    background-color: #eaeaea;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #C0BEBE;
}

@import "buttons";
@import "inputs";
@import "code";
@import "table";
@import "helpers";