a.button.disabled, fieldset[disabled] a.button {
    pointer-events: none;
}

.button, button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: $button-border-style;
    padding: .4rem .7rem;
    line-height: 1.25;
    border-radius: .15rem;
    transition: all .15s ease-in-out;

    &:disabled, &.disabled {
        opacity: .65;
        box-shadow: none;
    }

    &.active, &:active {
        background-image: none;
    }
}

@each $theme, $color in $theme-colors {
    $active: darken($color, 7%);
    $active-border: darken($color, 8%);

    .button-#{$theme} {
        @include color-contrast($color);
        background-color: #{$color};
        border-color: #{$color};

        &.disabled, &:disabled {
            background-color: #{$color};
            border-color: #{$color};
        }

    }

    .button-#{$theme}, .button-out-#{$theme} {
        &:hover {
            @include color-contrast($color);
            background-color: $active;
            border-color: $active-border;
        }

        &:focus, &.focus {
            box-shadow: 0 0 0 2px rgba($color, .5);
        }

        &:active, &.active {
            background-color: $active;
            border-color: $active-border;
        }
    }

    $level: theme-color-accent($theme, 3);

    .button-out-#{$theme} {
        color: #{$level};
        border-color: #{$level};
        background: transparent none;

        &.disabled, &:disabled {
            background-color: transparent;
            opacity: .6;
        }
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button-wide {
        width: 100%;
    }
}

.button-round, .button-round > .button {
    border-radius: 50px;
}

.button-xsmall, .button-xsmall > .button {
    padding: .1rem .1rem;
    font-size: .8rem;
}

.button-small, .button-small > .button {
    padding: .2rem .3rem;
    font-size: .85rem;
}

.button-large, .button-large > .button {
    padding: .8rem 1.5rem;
    font-size: 1.12rem;
}

.button-wide, .button-wide > .button {
    display: block;
    width: 100%;
}

.button-wide + .button-wide, .button + .button-wide, button + .button-wide {
    margin-top: .4rem;
}

// .button-group: remove borders
// .button-group-b: keep borders
.button-group, .button-group-b, .button-group-v, .button-group-vb {
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;

    > .button {
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }
    }
}

.button-group {
    > .button:first-child {
        margin-left: 0;
    }
    > .button:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    > .button:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    > .button:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

// .button-group-v: remove borders
// .button-group-vb: keep borders
.button-group-v, .button-group-vb {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .button, .button-group {
        width: 100%;
    }
}

.button-group-v {
    > .button:not(:first-child):not(:last-child), > .button-group:not(:first-child):not(:last-child) > .button {
        border-radius: 0;
    }

    > .button:first-child:not(:last-child), > .button-group:first-child:not(:last-child) > .button:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    > .button:last-child:not(:first-child), > .button-group:last-child:not(:first-child) > .button:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}