a.button.disabled, fieldset[disabled] a.button {
  pointer-events: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
a.button,
button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem .7rem;
    line-height: 1.25;
    border-radius: .15rem;
    transition: all .15s ease-in-out;
    box-shadow: $box-shadow-1;

    &:disabled, &.disabled {
      opacity: .65;
      box-shadow: none;
    }
  
    &.active, &:active {
      background-image: none;
      box-shadow: $box-shadow-1;
    }
}

@each $theme, $color in $theme-colors {
    $active: darken($color, 7%);
    $active-border: darken($color, 8%);

    .button-#{$theme} {
        @include color-contrast($color);
        background-color: #{$color};
        border-color: #{$color};
      
        &:hover {
          @include color-contrast($color);
          background-color: $active;
          border-color: $active-border;
        }
      
        &:focus, &.focus {
          box-shadow: 0 0 0 2px rgba($color, .5);
        }
      
        &.disabled, &:disabled {
          background-color: #{$color};
          border-color: #{$color};
        }
      
        &:active, &.active {
          background-color: $active;
          border-color: $active-border;
        }
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button-wide {
    width: 100%;
  }
}

.button-wide {
  display: block;
  width: 100%;
}

.button-wide + .button-wide, .button + .button-wide, button + .button-wide {
  margin-top: .4rem;
}