.footer-margin {
    margin-bottom: $footer-height + 10px;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
}

.footer, .footer-bottom {
    height: $footer-height;
    width: 100%;
    line-height: 60px;
    background-color: #ffffff;
}