.inline-block {
    display: inline-block;
}


// Make IE10 support "hidden"
[hidden] {
    display: none !important; 
}

// Material Design shadows
.shadow-0 {
    box-shadow: none;
}
.shadow-1 {
    box-shadow: $box-shadow-1;
}
.shadow-2 {
    box-shadow: $box-shadow-2;
}
.shadow-3 {
    box-shadow: $box-shadow-3;
}
.shadow-4 {
    box-shadow: $box-shadow-4;
}
.shadow-5 {
    box-shadow: $box-shadow-5;
}

// Margins
// TODO Use @each
.margin-t-0 {
    margin-top: 0;
}
.margin-t-2 {
    margin-top: 2px;
}
.margin-b-0 {
    margin-bottom: 0;
}
.margin-b-2 {
    margin-bottom: 2px;
}