@function breakpoint-min($name, $breakpoints: $screen-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-next($name, $breakpoints: $screen-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-max($name, $breakpoints: $screen-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@function breakpoint-infix($name, $breakpoints: $screen-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

@mixin media-breakpoint-up($name, $breakpoints: $screen-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($name, $breakpoints: $screen-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin make-boxed-container() {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: ($padding-container-width / 2);
    padding-left: ($padding-container-width / 2);
}

@mixin make-fixed-container($max-widths: $container-fixed-widths, $breakpoints: $screen-breakpoints) {
    @each $breakpoint, $container-fixed-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            max-width: $container-fixed-width;
        }
    }
}

@function get-color-contrast($n) {
    $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

    @if abs($color-brightness) < ($light-color/1.5) {
        @return $text-light;
    }
    @return $text-color;
}

@mixin color-contrast($n) {
    color: get-color-contrast($n);
}

@mixin bg-color($name, $color) {
    .bg-#{$name} {

        &.navbar a {
            @include color-contrast($color);
        }

        &.navbar a:hover {
            color: color-accent(get-color-contrast($color), -1);
        }

        background-color: $color !important;
        @include color-contrast($color);

        input, textarea, select {
            background-color: theme-color-accent($name, 11);
        }
    }
}

@mixin make-col($size, $columns: $screen-breakpoints) {
    flex: 0 0 percentage($size / $columns);
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $screen-breakpoints) {
    $num: $size / $columns;
    margin-left: if($num == 0, 0, percentage($num));
}