.navbar {
    display: flex;
    position: relative;
    width: 100%;
    height: $navbar-height;
    line-height: $navbar-height - 3px;
    z-index: $z-index-navbar;
    background-color: #ffffff;
    padding: 0;
}


body.navbar-margin {
    margin-top: $navbar-height;
}

.fixed {
    &-top, &-bottom {
        position: fixed;
        right: 0;
        left: 0;
    }
    &-top {
        top: 0;
    }
    &-bottom {
        bottom: 0;
    }
}

a.navbar-name, a.navbar-name:visited {
    font-size: 1.4rem;
}

.navbar a, .navbar a:visited {
    color: #ffffff;
}