@import "variables/_material-data";

@function color($name: "black", $n: "500") {
    @return map-get(map-get($material-colors, $name), $n);
}

$blue-grey-darker: #263238; // TODO use color("blue-grey", "900");
$white: #ffffff;

$text-color: #212121;
$text-light: #f2f2f2;
$text-disabled-color: #888888;

$input-text-color: #474747;
$input-placeholder-color: #8A8A8A;
$input-disabled-background: #D9D9D9;

$default-background: #f2f2f2;

$theme-colors: () !default;
$theme-colors: map-merge((
        "red": color("red"),
        "pink": color("pink"),
        "purple": color("purple"),
        "deep-purple": color("deep-purple"),
        "indigo": color("indigo"),
        "blue": color("blue"),
        "light-blue": color("light-blue"),
        "cyan": color("cyan"),
        "teal": color("teal"),
        "green": color("green"),
        "light-green": color("light-green"),
        "lime": color("lime"),
        "yellow": color("yellow"),
        "amber": color("amber"),
        "orange": color("orange"),
        "deep-orange": color("deep-orange"),
        "brown": color("brown"),
        "grey-dark": color("blue-grey", "900"),
        "grey": color("blue-grey", "800"),
        "blue-grey": color("blue-grey"),
        "grey-light": color("grey"),
        "white": white,
), $theme-colors);

$theme-accent: 8% !default;

$font-family-default: "Nunito", sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-code: 80%;

$padding-container-width: 30px;
$navbar-height: 48px;
$footer-height: 60px;
$button-border-width: 1px;
$button-border-style: $button-border-width solid transparent;
$input-border-style: 1px solid rgba(140, 140, 140, 0.4);

$screen-breakpoints: (
        smaller: 0,
        small: 576px,
        medium: 768px,
        large: 980px,
        larger: 1200px
) !default;

// Fixed container max-widths
$container-fixed-widths: (
        small: 540px,
        medium: 720px,
        large: 960px,
        larger: 1140px
) !default;

$space: 1rem !default;
$spaces: (
        0: 0,
        1: ($space * .25),
        2: ($space * .5),
        3: $space,
        4: ($space * 1.5),
        5: ($space * 3)
) !default;

$z-index-navbar: 2020;

@function theme-color($name: "red") {
    @return map-get($theme-colors, $name);
}

@function color-accent($color, $accent: 0) {
    // Choose black or white base
    $base: if($accent < 0, #000, #fff);

    @if $accent < 0 {
        // Lighter values need a quick double negative for the Sass math to work
        @return mix($base, $color, $accent * $theme-accent * -1);
    } @else {
        @return mix($base, $color, $accent * $theme-accent);
    }
}

@function theme-color-accent($theme-name: "red", $accent: 0) {
    // Get the color from the theme
    $color: theme-color($theme-name);
    @return color-accent($color, $accent);
}